.carousel-inner img {
    width: 800px;
    height: 400px;
    align-items: center;
    margin: auto;

}

.carousel {
    margin: 0 auto;
    margin-top: 100px;
    width: 800px;
    border: 1px solid black;
}

.carousel-indicators li {
    background-color: gray;
}

.container {
    align-items: center;
}
