html{
    height: 100%;
    box-sizing: border-box;
}

body{
    position: relative;
    margin: 0;
    min-height: 100vh;
}

.eventDetailCard{
    text-align: center;
}

.main {
  min-height: 100%;
  margin-top: 2em;
}

.btn {
  margin: 0.3em 0;
}

.navbar{
  background-color: #ca1830;
  margin-bottom: 10px;
    align-items: center;
}

.navbar ul li{
   padding: 0 20px;
}

.CP{
    width: 50px;
    height: 50px;
}

.navbar-collapse{
    justify-content: center;
}

.content-container{
    margin: 0 auto;
    min-height: 85vh;
    align-content: center;
}

.top-text{
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px;
    text-align: center;
}

.footer{
    margin-top: 2em;
    padding: 1rem;
    background-color:#26272b;
    font-size:15px;
    line-height:24px;
    color:#737373;
}

.footer hr{
    border-top-color:#bbb;
    opacity:0.5
}

.footer h6{
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}

.footer a{
    color:#737373;
}

.footer a:hover{
    color:#3366cc;
    text-decoration:none;
}

.footer-links{
    padding-left:0;
    list-style:none
}

.no-max-width {
  max-width: unset !important;
}

.btn.btn-primary a, .btn.btn-primary a:hover, .btn.btn-success a, .btn.btn-success a:hover, .btn.btn-danger a, .btn.btn-danger a:hover, .btn.btn-info a, .btn.btn-info a:hover {
  color: #fff !important;
}
.display-none {
  display: none;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.management-menu a {
  text-align: center;
  background-color: #636e72;
  margin: 10px;
  padding: 45px;
  color: #fff;
  font-size: 1.4em;
  border-radius: 2%;
}
.btn.btn--default, .btn.btn--brand {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  filter: drop-shadow( 0px 3px 5px rgba(0, 0, 0, 3.7));
}
.photoalbum-container .card {
  margin-bottom: 1rem;
}
.photoalbum-container p {
  font-size: 1.4em;
  padding: 0.1rem 1.2rem;
}
.photoalbum-container .img-thumbnail {
  border: none;
}
.error-container {
  text-align: center;
  margin: 7% 0;
}
