.container {
    display: flex;
    width: 1500px;
    border: 1px solid #220203;
    position: absolute;
    background: lightgrey;
    top: 52px;
    bottom: 0;
    margin-left: 350px;
}

.CP {
    width: 50px;
    height: 50px;
}

.linkedin {
    margin-right: 20px;
    margin-top: 10px;
    width: 30px;
    height: 30px;
}

