html{
    height: 100%;
    box-sizing: border-box;
}

body{
    position: relative;
    margin: 0;
    min-height: 100vh;
}

.eventDetailCard{
    text-align: center;
}

.main {
  min-height: 100%;
  margin-top: 2em;
}

.btn {
  margin: 0.3em 0;
}

.navbar{
  background-color: #ca1830;
  margin-bottom: 10px;
    align-items: center;
}

.navbar ul li{
   padding: 0 20px;
}

.CP{
    width: 50px;
    height: 50px;
}

.navbar-collapse{
    justify-content: center;
}

.content-container{
    margin: 0 auto;
    min-height: 85vh;
    align-content: center;
}

.top-text{
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px;
    text-align: center;
}

.footer{
    margin-top: 2em;
    padding: 1rem;
    background-color:#26272b;
    font-size:15px;
    line-height:24px;
    color:#737373;
}

.footer hr{
    border-top-color:#bbb;
    opacity:0.5
}

.footer h6{
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}

.footer a{
    color:#737373;
}

.footer a:hover{
    color:#3366cc;
    text-decoration:none;
}

.footer-links{
    padding-left:0;
    list-style:none
}

.no-max-width {
  max-width: unset !important;
}

.btn.btn-primary a {
  color: #fff;
}
