.navbar {
    background-color: #ca1830;
    color: #ffffff;
    margin: 0;
}
.nav a {
    color: white;
}
.nav.navbar-nav li {
    color: white;
}
.navbar .navbar-brand {
    color: #ecf0f1;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #220203;
}
.navbar .navbar-text {
    color: whitesmoke;
}
.navbar .navbar-text a {
    color: whitesmoke;
}
.navbar  a:hover,
.navbar  a:focus {
    color: black;
}
.navbar .navbar-nav .nav-link {
    color: #ecf0f1;
    border-radius: .25rem;
    margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #220203;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #220203;
    background-color: #ffffff;
}
.navbar .navbar-toggle {
    border-color: #ffffff;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #ffffff;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: #ecf0f1;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #ecf0f1;
}
.navbar .navbar-link {
    color: #ecf0f1;
}

